body {
	font-family: "Open Sans";
}

#container {
	/* width: 1300px; */
	margin: 0 auto;
}

#inner-container {

}

#navbar {
	background: darkslategray;
    color: white;
    padding: 10px 40px;
    /* display: inline; */
    min-width: 1000px;

    /* border-bottom: #ccc solid 1px; */
    /* margin-bottom: 20px; */
}

#navbar a {
	/* float: right; */
	font-weight: bold;
	color: white;
	display: inline-block;
	width: 10%;
	float: right;
	margin-top: 10px;
}

#logo {
	font-weight: bold;
	color: white !important;
	width: 25px;
	margin-right: 10px;
	/* float: left; */
}

#drawhere {
	width: 100px;
    height: 50px;
    position: absolute;
    top: 227px;
    left: 37px;
    z-index: -999;
}


#predictionWrapper {
	font-weight: bold;
}

#predictDigit {
	width: 150px;
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 20px;
}

#info {
	/* text-align: center; */
	padding: 20px;
	background: slategray;
	color: white;
	margin-bottom: 25px;
}

#parameterWrapper {
	/* text-align: center; */
	padding-top: 10px;
	padding-bottom: 10px;
	/* width: 480px; */
	margin-right: 10px;
}

#parametersTable {
	margin: 0 auto;
    width: 1000px;
}

#parameters {
	/* width: 50%; */


}

#nn_start {
	margin: 0 auto;
	text-align: center;
}

#nn_start button {
	width: 200px;
}

#nn_progress {
	width: 200px;
	
	margin: 10px auto;
}

#nn_stats {
	font-size: 10px;
	font-style: italic;
}

#nnConfig {
	font-size: 10px;
	text-align: left;
}

#drawWrapper {
	margin-right: 20px;
}

#draw {
	margin-left: 20px;
    margin-right: 20px;
    width: 106px;
    height: 106px;
    border: solid 3px #ccc;
}


#networkWrapper {

    background: #eee;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5%;
    padding-left: 17%;
}

#mnist_image {
	height: 100px;
	width: 100px;
	background: black;
}



#bpImageWrapper {
	margin-top: 20px;
	text-align: center;
	display: block;
	margin-bottom: 20px;

}

#imageWrapper {
	border: #ccc solid 3px;
	height: 106px;
	width: 106px;
	vertical-align: middle;
	text-align: center;
	font-size: 10px;
	font-style: italic;
}

#imageWrapper p {
	margin-top: 30px;
}

#bpInputs {
	float: left;
    margin-left: 300px;
}

#backpropImage {
	height: 100px;
	width: 100px;
	margin-left: 20px;
	background: #ccc;
	float: left;
}

#canvasSimple, #dest {
	background: #eee;
	width: 100px;
	height: 100px;
}

#result {
	height: 100px;
	width: 100px;
	border: solid 5px #ccc;
	margin-left: 15px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

#userInteractionWrapper {
	margin-right: 20px;
	/* float: left; */
	width: 500px;
	margin-left: 50px;
	border-right: solid 1px #ccc;
}

#descriptionPopup {
	float: left;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;

}

#mnistLoaderWrapper {
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	display: block;
	min-height: 150px;
	padding: 10px 0px;
	margin-bottom: 15px;
}

#mnist_loader {
	height: 100px;
	display: block;
	
	
	width: 90%;
	margin: 0 auto;
}


.mnist-canvas {
	height: 100px;
	width: 100px;
	background: #ccc;
	margin-right: 20px;
}

.mnist-probability {
	/* display: block; */
    margin-left: 10px;
    border-left: 1px solid #eee;
}


#backquery {
	/* width: 70%; */
	/* margin: 0 auto; */
}

#backquery label {
	padding: 10px;
	font-size: 20px;
}

.tip {
	    font-size: 11px;
    /* margin-left: 10px; */
    font-style: italic;
    margin-top: 10px;
}

#backquery_info {
		font-size: 20px;
    margin-left: 25px;
}

#footer_bar {
	background: darkslategray;
	margin: 0 auto;
	width: 100%;
	height: 30px;
	color: white;
	padding-left: 10px;
	padding-top: 5px;
	text-align: center;
}

#footer_bar a {
	color: white;
}